../.android/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.clangd/
.config/Android Open Source Project/
.config/Code/
.config/Foxit Software/
.config/GitKraken/
.config/Intel/
.config/JetBrains/
.config/Microsoft/
.config/OCS-Store/
.config/Qt/
.config/QtProject.conf
.config/QtProject/
.config/SoundWire/
.config/The Qt Company/
.config/VirtualBox/
.config/abrt/
.config/autostart/
.config/cava/
.config/coc/
.config/configstore/
.config/dconf/
.config/dleyna-renderer-service.conf
.config/dleyna-server-service.conf
.config/enchant/
.config/eog/
.config/evince/
.config/evolution/
.config/filezilla/
.config/gedit/
.config/gnome-boxes/
.config/gnome-control-center/
.config/gnome-initial-setup-done
.config/goa-1.0/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/gtk-4.0/
.config/htop/
.config/ibus/
.config/icedtea-web/
.config/kicad/
.config/kitty/
.config/libreoffice/
.config/libvirt/
.config/menus/
.config/mimeapps.list
.config/nautilus/
.config/neofetch/
.config/nvim-qt/
.config/nvim/.netrwhist
.config/nvim/ginit.vim
.config/nvim/plugged/
.config/nvim/ycm_extra_conf.py
.config/ocs-manager/
.config/octave/
.config/pavucontrol.ini
.config/pulse/
.config/rofi/
.config/sway/
.config/teams/
.config/texstudio/
.config/totem/
.config/user-dirs.dirs
.config/user-dirs.locale
.config/vlc/
.config/xpad/
.config/yelp/
.designer/
.eclipse/
.emulator_console_auth_token
.esd_auth
.fehbg
.fltk/
.fzf.bash
.fzf.zsh
.fzf/
.gitkraken/
.gnome/
.gnupg/
.gradle/
.icons/
.ipython/
.java/
.jetbrains/
.jupyter/
.keras/
.lesshst
.links/
.local/pipx/
.local/share/Android Open Source Project/
.local/share/DBeaverData/
.local/share/Foxit Software/
.local/share/JetBrains/
.local/share/Qt/
.local/share/QtProject/
.local/share/Trash/
.local/share/applications/
.local/share/arc-menu/
.local/share/backgrounds/
.local/share/evolution/
.local/share/flatpak/
.local/share/folks/
.local/share/gnome-boxes/
.local/share/gnome-settings-daemon/
.local/share/gnome-shell/
.local/share/grilo-plugins/
.local/share/gsettings-data-convert
.local/share/gvfs-metadata/
.local/share/icc/
.local/share/icons/
.local/share/jupyter/
.local/share/keyrings/
.local/share/maps-places.json
.local/share/mime/
.local/share/nvim/
.local/share/org.kde.syntax-highlighting/
.local/share/recently-used.xbel
.local/share/rhythmbox/
.local/share/sounds/
.local/share/tracker/
.local/share/virtualenv/
.local/share/vlc/
.local/share/webkitgtk/
.local/share/xorg/
.mono/
.mozilla/
.muttrc
.node_repl_history
.npm/
.octave_hist
.oh-my-zsh/
.p10k.zsh
.pki/
.putty/
.pylint.d/
.python_history
.sdkman/
.spiceinit
.ssh/
.swt/
.themes/
.thunderbird/
.tmux/
.var/
.vim/
.vscode/
.wget-hsts
.z
.zcompdump
.zcompdump-localhost-5.8
.zcompdump-vd-san-5.8
.zoom/
.zsh_history
Desktop/
Documents/
Downloads/
PY3/
Pictures/
Qt/
VirtualBox VMs/
android-ndk-r19c-linux-x86_64.zip
android-ndk-r19c/
android-ndk-r21b-linux-x86_64.zip
android-sdk-tools/
bin/
foxitsoftware/
install_android.sh
linuxmint-17.3-cinnamon-64bit.iso
pycharm-2020.1/
sdk-tools-linux-4333796.zip
snap/
study.txt
test.markdown
test.md
fonts/.uuid
